dify-old/视频监控助手MCP2.5-Test-Cache.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 视频监控助手MCP2.5-Test-Cache
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 历史用户提问
    id: 2e9078b0-5763-4b29-a672-d2eb620fffe4
    name: historyUser
    selector:
    - conversation
    - historyUser
    value: []
    value_type: array[object]
  - description: 历史接口
    id: bcb192b1-d812-49de-a34f-00f01d147a45
    name: historyInter
    selector:
    - conversation
    - historyInter
    value: []
    value_type: array[object]
  - description: 孪易场景token
    id: 7ec5a13e-d8f3-432f-845d-349a878ad1aa
    name: tokenJudge
    selector:
    - conversation
    - tokenJudge
    value: ''
    value_type: string
  environment_variables:
  - description: 孪易服务地址
    id: ee7d4ca3-f651-4414-944c-b8053d81fd1e
    name: TwinEasyServerUrl
    selector:
    - env
    - TwinEasyServerUrl
    value: http://test.twinioc.net/api/editor
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: answer
        targetType: answer
      id: answer-source-17633881836600-target
      selected: false
      source: answer
      sourceHandle: source
      target: '17633881836600'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: agent
        targetType: code
      id: 1764322864723-source-1764329995410-target
      source: '1764322864723'
      sourceHandle: source
      target: '1764329995410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1764329995410-source-answer-target
      selected: false
      source: '1764329995410'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1764329995410-source-1763609996304-target
      selected: false
      source: '1764329995410'
      sourceHandle: source
      target: '1763609996304'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: answer
      id: 1762412501929-source-17633824801840-target
      selected: false
      source: '1762412501929'
      sourceHandle: source
      target: '17633824801840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1762412501929-source-1769135525970-target
      selected: false
      source: '1762412501929'
      sourceHandle: source
      target: '1769135525970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1769135525970-false-1769135607833-target
      selected: false
      source: '1769135525970'
      sourceHandle: 'false'
      target: '1769135607833'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: agent
      id: 1769135525970-true-1764322864723-target
      source: '1769135525970'
      sourceHandle: 'true'
      target: '1764322864723'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: agent
      id: 1769135607833-source-1764322864723-target
      selected: false
      source: '1769135607833'
      sourceHandle: source
      target: '1764322864723'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent
        targetType: code
      id: 1764322864723-source-1769137177530-target
      source: '1764322864723'
      sourceHandle: source
      target: '1769137177530'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: assigner
      id: 1769137177530-source-1769137201561-target
      source: '1769137177530'
      sourceHandle: source
      target: '1769137201561'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: token
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: token
      height: 109
      id: '1762412501929'
      position:
        x: -1191.6635942294124
        y: -240.38541432090778
      positionAbsolute:
        x: -1191.6635942294124
        y: -240.38541432090778
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "{\n  \"response\": \"{{#1764329995410.result#}}\"\n}THISSECTIONEND\n"
        selected: false
        title: 直接回复2
        type: answer
        variables: []
      height: 135
      id: answer
      position:
        x: 604.0224613486913
        y: -188.9972057026356
      positionAbsolute:
        x: 604.0224613486913
        y: -188.9972057026356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "{\n  \"response\": \"您好我是视频监控助手，正在执行任务，请稍等~\"\n}THISSECTIONEND\n"
        selected: false
        title: 直接回复1
        type: answer
        variables: []
      height: 132
      id: '17633824801840'
      position:
        x: -868.2182993777146
        y: -282.49938606655
      positionAbsolute:
        x: -868.2182993777146
        y: -282.49938606655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: AGENTEND
        selected: false
        title: 直接回复AGENTEND
        type: answer
        variables: []
      height: 100
      id: '17633881836600'
      position:
        x: 962.2538552965382
        y: -188.9972057026356
      positionAbsolute:
        x: 962.2538552965382
        y: -188.9972057026356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-69
            key: ''
            type: text
            value: '{

              “token”：“{{#1762412501929.token#}}”，

              “jsonData”：“{{#1764329995410.resultorder#}}$&{{#sys.query#}}$&{{#1764329995410.result#}}”

              }'
          type: json
        headers: 'Content-Type:application/json

          Accept:text/plain'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#env.TwinEasyServerUrl#}}/v1/location/SendInstruction'
        variables: []
      height: 142
      id: '1763609996304'
      position:
        x: 609.2457647284681
        y: 27.539774864058856
      positionAbsolute:
        x: 609.2457647284681
        y: 27.539774864058856
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: '# 你的目标


              你可以精确理解用户的指令意图，并将其转换为系统可执行的标准化指令格式。你可以调用MCP获取额外的信息以辅助理解用户意图，注意：mcp接口中所需的token参数为{{#1762412501929.token#}}；只有涉及到对象名称或摄像头名称的相关指令需要调用mcp接口，其他的不用；用户提问先从上下文{{#conversation.historyUser#}}中分析当前场景摄像头的信息，如果是以前问过的问题直接返回，如果不是继续分析；调用MCP接口前应先从{{#conversation.historyInter#}}获取中获取相关的信息，如果有直接分析返回，如果没有再调用MCP接口


              ## 工作流程


              1. 请根据用户的输入内容，智能匹配并直接输出最符合上述指令格式的内容。

              2. 若用户输入中包含多个意图，请一次输出多个对应指令。

              3. 对于括号中含有“其一”的选项，必须从已知选项中选择最匹配的一个。

              4. 对于括号中含有“摄像头名称”的选项，必须从调用MCP获取的信息中选择最匹配的一个，如果没有匹配成功，直接输出“[视频中没有找到匹配的信息]”且不用拼接任何指令，非常重要优先级最高。

              5. 当用户问题是关于查看某个对象（摄像头）或查看某个对象（摄像头）详情时，直接输出“E34：筛选：摄像头名称”

              6. 当用户问题是某个对象（摄像头）放大或缩小时，直接输出“E34：筛选：摄像头名称$E32/E33单路云台：拉近/拉远”；当用户问题只有放大、缩小、拉近、拉远、左右上下旋转、抬头、低头时，直接输出单路指令相关的指令

              7. 当用户问题是某个对象（摄像头）的告警信息或事件信息时，直接输出“E34：筛选：摄像头名称$E12：事件：事件列表，选中”

              8. 当用户问题是询问类的问题时，比如可控摄像头有哪些或大华摄像头有什么时，查找MCP接口中相关的描述信息，符合要求的对象名称全部输出“E35：名称：（对象名称，中间用，分割）”

              9. 确保准确区分“视频下一页/上一页”（E05/E06）和“下一个/上一个视频”（E08/E09）的不同指令。

              10. 用户问题是关于告警时，返回的是事件相关指令，此处告警相当于事件，如用户问题是看一下告警信息，则输出“E12：事件：事件列表，选中”

              11. 当用户问题和指令库中的指令都不匹配时，直接输出：“您的提问超出了我能回答的范围，请输出跟视频监控相关的问题！”


              ## 指令库


              E01：筛选：范围选取：中心点，？；范围，？

              E02：筛选：设置显示模式，？（单路、2×2、3×3 其一）

              E03：视频：轮播视频，？（开始、停止 其一）

              E04：视频：视频排序，？（按对象名称正序、按对象名称倒序、按创建时间正序、按创建时间倒序 其一）

              E05：视频：视频上一页

              E06：视频：视频下一页

              E07：视频：视频指定页，？

              E08：视频：下一个视频

              E09：视频：上一个视频

              E10：视频：第一个视频

              E11：视频：末一个视频

              E12：事件：事件列表，？（选中、取消 其一）

              E13：事件：轮播事件，？（开始、停止 其一）

              E14：事件：事件筛选，？

              E15：事件：事件排序，？（按时间正序、按时间倒序 其一）

              E16：事件：选中事件，？

              E17：事件：下一个事件

              E18：事件：上一个事件

              E19：事件：第一个事件

              E20：事件：末一个事件

              E21：时间：模式切换，（实时、回放 其一）

              E22：回放：暂停

              E23：回放：播放

              E24：回放：跳转，？

              E25：回放：前进，？

              E26：回放：回退，？

              E27：回放：倍速，？

              E28：单路云台：左转

              E29：单路云台：右转

              E30：单路云台：抬头

              E31：单路云台：低头

              E32：单路云台：拉近

              E33：单路云台：拉远

              E34：筛选：？（摄像头名称，从MCP接口中获取）

              E35：名称：？，？，？...（摄像头名称，从MCP接口中获取）


              ## 输出格式


              [指令1$指令2$指令3$...]


              ## 输出示例


              1. 示例1: 用户输入“下一个视频”

              [E08：视频：下一个视频]


              2. 示例2: 用户输入“显示模式设置为3x3”

              [E02：筛选：设置显示模式，3×3]


              3. 示例3: 用户输入“云台右转10”

              [E29：单路云台：右转]


              ## 特别注意事项


              1. 不需要输出思考过程，不要询问用户任何问题，直接按照输出格式输出你认为正确的结果'
          maximum_iterations:
            type: constant
            value: 4
          model:
            type: constant
            value:
              completion_params:
                temperature: 0.1
              mode: chat
              model: deepseek-chat
              model_type: llm
              provider: langgenius/deepseek/deepseek
              type: model-selector
          query:
            type: constant
            value: '{{#sys.query#}}'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: '获取当前数字孪生场景中所有已绑定视频源的孪生体实例信息列表。


                  功能说明：查询场景中类别名称包含''视频''、''摄像头''、''探头''关键字的孪生体，筛选出已绑定视频服务器的实例，返回其实例名称和描述信息。仅返回状态为''可用''的孪生体类别配置下的实例。


                  输入参数：

                  - token（必填）：string类型，SignalR连接时返回的6位UniqueId


                  输出说明：返回List<dynamic>格式的数据，每个对象包含：

                  - 孪生体实例名称：string类型，孪生体实例的名称，如''1号摄像头'', ''大门监控'', ''车间探头''

                  - 描述：string类型，孪生体实例的描述信息

                  如果场景中无绑定视频的孪生体，返回空列表


                  使用场景：

                  - 获取可播放视频的孪生体设备列表

                  - 查看哪些监控设备已配置视频源

                  - 视频联动功能的前置查询

                  - 视频监控面板的数据源


                  注意事项：

                  - token参数必填，使用SignalR连接的6位UniqueId进行场景身份验证

                  - 仅筛选类别名称包含''视频''、''摄像头''、''探头''关键字的孪生体'
              parameters:
                token:
                  auto: 1
                  value: null
              provider_name: twinioc-mcp-2-5
              provider_show_name: 孪易MCP2.5_Test短码
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: SignalR连接时返回的6位UniqueId
                  ja_JP: SignalR连接时返回的6位UniqueId
                  pt_BR: SignalR连接时返回的6位UniqueId
                  zh_Hans: SignalR连接时返回的6位UniqueId
                label:
                  en_US: token
                  ja_JP: token
                  pt_BR: token
                  zh_Hans: token
                llm_description: SignalR连接时返回的6位UniqueId
                max: null
                min: null
                name: token
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: string
              settings: {}
              tool_description: '获取当前数字孪生场景中所有已绑定视频源的孪生体实例信息列表。


                功能说明：查询场景中类别名称包含''视频''、''摄像头''、''探头''关键字的孪生体，筛选出已绑定视频服务器的实例，返回其实例名称和描述信息。仅返回状态为''可用''的孪生体类别配置下的实例。


                输入参数：

                - token（必填）：string类型，SignalR连接时返回的6位UniqueId


                输出说明：返回List<dynamic>格式的数据，每个对象包含：

                - 孪生体实例名称：string类型，孪生体实例的名称，如''1号摄像头'', ''大门监控'', ''车间探头''

                - 描述：string类型，孪生体实例的描述信息

                如果场景中无绑定视频的孪生体，返回空列表


                使用场景：

                - 获取可播放视频的孪生体设备列表

                - 查看哪些监控设备已配置视频源

                - 视频联动功能的前置查询

                - 视频监控面板的数据源


                注意事项：

                - token参数必填，使用SignalR连接的6位UniqueId进行场景身份验证

                - 仅筛选类别名称包含''视频''、''摄像头''、''探头''关键字的孪生体'
              tool_label: get_bind_video_instance_names
              tool_name: get_bind_video_instance_names
              type: mcp
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        meta:
          minimum_dify_version: 1.7.0
          version: 0.0.2
        output_schema: {}
        plugin_unique_identifier: langgenius/agent:0.0.25@3507a9a417ea8d76e5de6b2803953ca891851b6b336fafe1315471782711730f
        selected: true
        title: Agent
        tool_node_version: '2'
        type: agent
      height: 188
      id: '1764322864723'
      position:
        x: -126.20869902211562
        y: -188.9972057026356
      positionAbsolute:
        x: -126.20869902211562
        y: -188.9972057026356
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(arg1: str):\n    \"\"\"\n    从响应文本中提取最后一个方括号中的内容，并分别处理\n \
          \   \"\"\"\n    import re\n\n    # 提取所有方括号中的内容\n    bracket_pattern = r'\\\
          [(.*?)\\]'\n    all_bracket_content = re.findall(bracket_pattern, arg1)\n\
          \    \n    if all_bracket_content:\n        # 取最后一个方括号的内容\n        last_bracket_content\
          \ = all_bracket_content[-1]\n        \n        # resultorder: 最后一个方括号内容（保持原格式）\n\
          \        resultorder = last_bracket_content\n        \n        # result:\
          \ 提取指令的具体内容部分\n        commands = []\n        \n        # 按$分割每个指令\n   \
          \     parts = last_bracket_content.split('$')\n        for part in parts:\n\
          \            # 每个指令格式如：E02：筛选：设置显示模式：3×3\n            # 提取冒号后的内容，去掉编号部分\n\
          \            if '：' in part:\n                # 分割后去掉第一个元素（编号），剩下的用冒号连接\n\
          \                sub_parts = part.split('：')\n                if len(sub_parts)\
          \ >= 2:\n                    # 去掉编号部分，保留后面的内容\n                    content_part\
          \ = '：'.join(sub_parts[1:])\n                    commands.append(content_part)\n\
          \        \n        if commands:\n            # 修改这里：使用中文顿号作为序号分隔符\n    \
          \        numbered_commands = []\n            for i, cmd in enumerate(commands,\
          \ 1):\n                numbered_commands.append(f\"{i}、{cmd}\")  # 将英文点号改为中文顿号\n\
          \            \n            result = \"根据最优策略，已经为您规划如下执行计划：\\\\n\" + \"\\\
          \\n\".join(numbered_commands)\n        else:\n            # 如果没有冒号分隔的内容，直接使用原内容\n\
          \            result = last_bracket_content\n    else:\n        # 如果没有方括号，返回默认提示\n\
          \        result = \"目前无法回答与提问相关的问题，请咨询跟视频相关的问题\"\n        resultorder =\
          \ \"目前无法回答与提问相关的问题，请咨询跟视频相关的问题\"\n    \n    return {\n        \"result\"\
          : result,\n        \"resultorder\": resultorder\n    }"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
          resultorder:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1764322864723'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1764329995410'
      position:
        x: 215.20922673407892
        y: -188.9972057026356
      positionAbsolute:
        x: 215.20922673407892
        y: -188.9972057026356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 8aa039f3-6d5c-4d4f-95af-93daaafa1b79
            value: '{{#conversation.tokenJudge#}}'
            varType: string
            variable_selector:
            - '1762412501929'
            - token
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 124
      id: '1769135525970'
      position:
        x: -868.2182993777146
        y: -48.38541432090777
      positionAbsolute:
        x: -868.2182993777146
        y: -48.38541432090777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - historyUser
          write_mode: over-write
        - input_type: variable
          operation: clear
          value: ''
          variable_selector:
          - conversation
          - historyInter
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1762412501929'
          - token
          variable_selector:
          - conversation
          - tokenJudge
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 136
      id: '1769135607833'
      position:
        x: -512.4849723299228
        y: 32.340889606147215
      positionAbsolute:
        x: -512.4849723299228
        y: 32.340889606147215
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "from typing import List, Dict, Any\nimport json\n\ndef main(arg1: str,\
          \ arg2: List[Dict[str, Any]], arg3: List[Dict[str, Any]], arg4: str = \"\
          \") -> Dict[str, Any]:\n    \"\"\"\n    处理JSON数据并更新存储数组\n    \n    Args:\n\
          \        arg1: 输入的JSON字符串\n        arg2: 存储工具记录的数组，作为基础数组传入\n        arg3:\
          \ 存储倒数第二个对象data.output内容的数组，作为基础数组传入\n        arg4: 问题字符串，需要存储到arg3记录的question字段中\n\
          \    \n    Returns:\n        Dict[str, Any]: 包含处理结果和更新后的存储数组\n    \"\"\"\
          \n    \n    try:\n        # 解析输入数据\n        if isinstance(arg1, str):\n\
          \            input_data = json.loads(arg1)\n        else:\n            input_data\
          \ = arg1\n        \n        # 获取对话数据\n        if isinstance(input_data,\
          \ dict) and 'arg1' in input_data:\n            dialog_data = input_data['arg1']\n\
          \        else:\n            dialog_data = input_data\n        \n       \
          \ # 确保是列表\n        if not isinstance(dialog_data, list):\n            dialog_data\
          \ = [dialog_data]\n        \n        # 确保arg2是列表\n        if not isinstance(arg2,\
          \ list):\n            arg2 = []\n        \n        # 确保arg3是列表\n       \
          \ if not isinstance(arg3, list):\n            arg3 = []\n        \n    \
          \    # 复制传入的数组，避免直接修改原数组\n        existing_tool_records = arg2.copy()\n\
          \        existing_output_records = arg3.copy()\n        \n        # 收集新找到的工具记录\n\
          \        new_tool_records = []\n        \n        # 遍历对话数据，处理工具记录\n    \
          \    for item in dialog_data:\n            if not isinstance(item, dict):\n\
          \                continue\n            \n            # 检查是否有tool_responses\n\
          \            responses = None\n            try:\n                responses\
          \ = item.get('data', {}).get('output', {}).get('tool_responses', [])\n \
          \           except:\n                continue\n            \n          \
          \  if isinstance(responses, list):\n                for resp in responses:\n\
          \                    if isinstance(resp, dict):\n                      \
          \  tool_name = resp.get('tool_call_name')\n                        tool_response\
          \ = resp.get('tool_response')\n                        \n              \
          \          if tool_name is not None and tool_response is not None:\n   \
          \                         # 创建新记录\n                            record =\
          \ {\n                                'tool_call_name': tool_name,\n    \
          \                            'tool_response': tool_response\n          \
          \                  }\n                            new_tool_records.append(record)\n\
          \        \n        # 处理倒数第二个对象的data.output内容（修改部分）\n        new_output_record\
          \ = None\n        if len(dialog_data) >= 2:\n            # 获取倒数第二个对象\n \
          \           second_last_item = dialog_data[-2]\n            if isinstance(second_last_item,\
          \ dict):\n                try:\n                    output_content = second_last_item.get('data',\
          \ {}).get('output')\n                    if output_content is not None:\n\
          \                        # 获取output中最后一个[]中的内容\n                       \
          \ last_bracket_content = None\n                        if isinstance(output_content,\
          \ str):\n                            # 查找最后一个[]及其内容\n                  \
          \          last_open_bracket = output_content.rfind('[')\n             \
          \               last_close_bracket = output_content.rfind(']')\n       \
          \                     if last_open_bracket != -1 and last_close_bracket\
          \ != -1 and last_close_bracket > last_open_bracket:\n                  \
          \              last_bracket_content = output_content[last_open_bracket +\
          \ 1:last_close_bracket].strip()\n                        \n            \
          \            # 创建输出记录对象\n                        new_output_record = {\n\
          \                            'question': arg4 if arg4 else \"\",  # 添加arg4到question字段\n\
          \                            'content': last_bracket_content  # 存储最后一个[]中的内容\n\
          \                        }\n                except Exception as e:\n   \
          \                 print(f\"处理输出内容时出错: {e}\")\n        \n        # 处理工具记录：将新记录添加到现有记录的末尾（新的在后）\n\
          \        tool_result_msg = \"未找到新的工具记录\"\n        if new_tool_records:\n\
          \            # 先添加旧记录，再添加新记录（这样新记录在末尾）\n            existing_tool_records\
          \ = existing_tool_records + new_tool_records\n            \n           \
          \ # 限制最多20条记录（删除最前面的，即最旧的）\n            if len(existing_tool_records) >\
          \ 20:\n                existing_tool_records = existing_tool_records[-20:]\n\
          \            \n            tool_result_msg = f\"添加 {len(new_tool_records)}\
          \ 条新工具记录，当前共 {len(existing_tool_records)} 条记录\"\n        \n        # 处理输出记录：将新记录添加到现有记录的末尾（新的在后）\n\
          \        output_result_msg = \"未找到新的输出记录\"\n        if new_output_record\
          \ is not None:\n            # 先添加旧记录，再添加新记录（这样新记录在末尾）\n            existing_output_records\
          \ = existing_output_records + [new_output_record]\n            \n      \
          \      # 限制最多20条记录（删除最前面的，即最旧的）\n            if len(existing_output_records)\
          \ > 20:\n                existing_output_records = existing_output_records[-20:]\n\
          \            \n            output_result_msg = f\"添加 1 条新输出记录，当前共 {len(existing_output_records)}\
          \ 条记录\"\n        \n        # 组合结果消息\n        result_msg = f\"{tool_result_msg};\
          \ {output_result_msg}\"\n        \n        # 返回结果，包含处理结果和更新后的数组\n      \
          \  return {\n            \"result\": result_msg,\n            \"output\"\
          : existing_tool_records,\n            \"output2\": existing_output_records\n\
          \        }\n        \n    except Exception as e:\n        # 确保错误信息是字符串\n\
          \        error_msg = str(e)\n        # 返回错误结果\n        return {\n      \
          \      \"result\": f\"处理失败: {error_msg}\",\n            \"output\": arg2,\
          \  # 出错时返回原始数组\n            \"output2\": arg3  # 出错时返回原始数组\n        }"
        code_language: python3
        outputs:
          output:
            children: null
            type: array[object]
          output2:
            children: null
            type: array[object]
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 2
        type: code
        variables:
        - value_selector:
          - '1764322864723'
          - json
          value_type: array[object]
          variable: arg1
        - value_selector:
          - conversation
          - historyInter
          value_type: array[object]
          variable: arg2
        - value_selector:
          - conversation
          - historyUser
          value_type: array[object]
          variable: arg3
        - value_selector:
          - sys
          - query
          value_type: string
          variable: arg4
      height: 52
      id: '1769137177530'
      position:
        x: 215.20922673407892
        y: 257.31107968023935
      positionAbsolute:
        x: 215.20922673407892
        y: 257.31107968023935
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1769137177530'
          - output
          variable_selector:
          - conversation
          - historyInter
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1769137177530'
          - output2
          variable_selector:
          - conversation
          - historyUser
          write_mode: over-write
        selected: false
        title: 变量赋值 2
        type: assigner
        version: '2'
      height: 110
      id: '1769137201561'
      position:
        x: 604.0224613486913
        y: 268.9988522257286
      positionAbsolute:
        x: 604.0224613486913
        y: 268.9988522257286
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 561.6090438935514
      y: 282.8972721522995
      zoom: 0.6484197740036286
  rag_pipeline_variables: []
